@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap");

@font-face {
  font-family: "Abril Fatface";
  src: url("/fonts/AbrilFatface-Regular.ttf");
}

body {
  font-size: 24px;
  font-weight: 390;
}

.text {
  font: oblique lighter 18px Arial, Helvetica, sans-serif;
  text-decoration: dashed underline overline line-through red;
  /* text-decoration-line: underline overline line-through;
  text-decoration-color: red;
  text-decoration-style: dashed;
  text-decoration-thickness: 3px; */
}

.text2 {
  font: oblique lighter 18px Arial, Helvetica, sans-serif;
  text-decoration: dashed underline overline red;
  /* text-transform: uppercase; */
  text-transform: capitalize;
}

.text3 {
  font: oblique lighter 18px Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 2px red;
}

.text4 {
  font-size: 54px;
  border: 1px solid;
  text-align: start;
}

span {
  display: inline-block;
  border: 1px solid;
}

.tall {
  font-size: 36px;
  vertical-align: top;
}

.small {
  font-size: 10px;
  vertical-align: top;
}

#bottom {
  vertical-align: bottom;
}

#center {
  vertical-align: middle;
}

#texttop {
  vertical-align: text-top;
}

#textbottom {
  vertical-align: text-bottom;
}
.start {
  text-align: start;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}

.lspace {
  letter-spacing: 10px;
}

.wspace {
  word-spacing: 10px;
}

.lheight {
  line-height: 3;
}

.whitespace {
  white-space: nowrap;
}

.preformatted {
  border: 1px solid;
  white-space: pre;
}

.preformatted2 {
  border: 1px solid;
  white-space: pre-line;
}

.fonttxt {
  font-family: "Sixtyfour Convergence", serif;
}

.fonttxt2 {
  font-family: "Playwrite VN", serif;
}

.fonttxt3 {
  font-family: "Abril Fatface", serif;
}

.icon {
  font-size: 54px;
  color: tomato;
  background-color: aqua;
  padding: 8px 12px;
  border-radius: 40px;
}
